<div style="background: transparent">
    <div data-dojo-type="dijit/layout/ContentPane"
         data-dojo-attach-point="ContentPaneWidget"
         title="Change Password"
         class="dijitDialogPaneContentArea">
        <form data-dojo-type="dijit/form/Form" 
              data-dojo-attach-point="myForm"
              method="post"
              action="ChangePasswordServlet"
              style="background: transparent">            
            <div data-dojo-type="dojox.form.PasswordValidator" 
                 name="password" style="background: transparent">
                <label>Password: 
                    <input type="password" pwType="new" name="newPass"/>
                </label><br>
                <label>Repeate Password: 
                    <input  type="password" pwType="verify"  name="newPassRepet"/>
                </label><br>
            </div>
            <input  type="hidden" name="newPassR"  id="p"> 

            <!--
            <button data-dojo-type="dijit/form/Button" 
                    type="submit">enviar!
            </button>-->  
            <div class="dijitDialogPaneActionBar" style="text-align: center"
                     data-dojo-attach-point="bar"
                     data-dojo-type="dijit/layout/ContentPane">
                
                <button data-dojo-type="dijit/form/Button" 
                        type="submit">Aceptar
                </button>
                <button data-dojo-type="dijit/form/Button" 
                        data-dojo-attach-point="btnCancel"
                        type="reset"
                        >Cancelar</button>
                
            </div>
        </form>

    </div>
</div>