<div style="width:100%;height:100%">
    <div data-dojo-type="dijit/layout/BorderContainer"
         data-dojo-attach-point="principalContainer"
         id="borderContainer" class="iconAbout">
        <div data-dojo-type="dijit/layout/ContentPane"
             data-dojo-props="region:'top',iconClass:'myLogoIcon'"
             data-dojo-attach-point='TopPane'
             style="background: transparent"
             
            >Top
        </div>
        <div data-dojo-type="dijit/layout/ContentPane"
             data-dojo-props="region:'center'"
             data-dojo-attach-point='CenterPane'
             title="Change Password"
             style="background: transparent"
             >
        </div>
        <div data-dojo-type="dijit/layout/ContentPane"
             data-dojo-props="region:'left'"
             data-dojo-attach-point='LeftPane'
             title="Change Password"
             style="width:22%;background: transparent"
             >
        </div>
        <div data-dojo-type="dijit/layout/ContentPane"
             data-dojo-props="region:'right'"
             data-dojo-attach-point='RigthPane'
             style="display:inline-grid;text-align: center;width:17%;background: transparent"
             >
             <div data-dojo-type="dijit/form/Button" 
                  data-dojo-attach-point="btnDrive"
                  data-dojo-props="iconClass:'myIconDrive'" 
                  class="btn">Drive
             </div>
            <div data-dojo-type="dijit/form/Button" 
                  data-dojo-attach-point="btnGmail"
                  data-dojo-props="iconClass:'myIconGmail'"  
                  class="btn">Gmail
             </div>
             <div data-dojo-type="dijit/form/Button" 
                  data-dojo-attach-point="btnTMS"
                  data-dojo-props="iconClass:'myIconTMS'"  
                  class="btn">TMS
             </div>
             <div data-dojo-type="dijit/form/Button" 
                  data-dojo-attach-point="btnMenfis"
                  data-dojo-props="iconClass:'myIconMenfis'" 
                  class="btn">Menfis
             </div>
             <div data-dojo-type="dijit/form/Button" 
                  data-dojo-attach-point="btnBI"
                  data-dojo-props="iconClass:'myIconBI'" 
                  class="btn">BI
             </div>
             <div data-dojo-type="dijit/form/Button" 
                  data-dojo-attach-point="btnHa"
                  data-dojo-props="iconClass:'myIconHo'" 
                  class="btn">Hangouts
             </div>
             <div data-dojo-type="dijit/form/Button" 
                  data-dojo-attach-point="btnPass"
                  data-dojo-props="iconClass:'myPass'" 
                  class="btn">Change Password
             </div>
        </div>
    </div>
</div>
