<div style="background: transparent">
    <div data-dojo-type="dijit/layout/ContentPane"
         data-dojo-attach-point="ContentPaneWidgetForm1"
         title="Autenticar"
         class="dijitDialogPaneContentArea">
        <form data-dojo-type="dijit/form/Form" 
              data-dojo-attach-point="myForm1"
              style="background: transparent" onsubmit="return false">
            Usuario: <input data-dojo-type="dijit/form/TextBox" name="txtUsr"
                     title="User :" data-dojo-attach-point="txtUsr"/>
            Contraseña Actual: <input data-dojo-type="dijit/form/TextBox" name="txtPassActual"
                                      data-dojo-attach-point="txtPassActual"
                     title="Password Actual :"/>
            <!--
            <button data-dojo-type="dijit/form/Button" 
                    type="submit">enviar!
            </button>-->  
            <div class="dijitDialogPaneActionBar" style="text-align: center"
                     data-dojo-attach-point="barForm1"
                     data-dojo-type="dijit/layout/ContentPane">
                
                <button data-dojo-type="dijit/form/Button" 
                        type="submit">Verificar
                </button>
                <button data-dojo-type="dijit/form/Button" 
                        data-dojo-attach-point="btnCancelForm1"
                        type="reset"
                        >Cancelar</button>
                
            </div>
        </form>

    </div>
</div>